body {
    margin: 0;
    overflow: hidden;
}

.content {
    padding: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2a6b8b;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    text-align: center;
}

.menu ul li {
    display: inline;
    float: left;
}

.active {
    color: #f9e50c; 
    font-weight: bold;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}
  
li a:hover {
    color: #f9e50c;
}

.banniere {
    border-radius: 0 45px 15px 0;
    height: 60px;
}

.bord {
    display: flex;
}

.jeu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.aventure {
    display: flex;
    align-items: center;
}

.objets {
    list-style-type: none;
    display: flex;
}

.obj {
    cursor: pointer;
}