body {
    margin: 0;
    overflow: hidden;
}

.content {
    padding: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2a6b8b;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    text-align: center;
}

.menu ul li {
    display: inline;
    float: left;
}

.active {
    color: #f9e50c; 
    font-weight: bold;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}
  
li a:hover {
    color: #f9e50c;
}

.banniere {
    border-radius: 0 45px 15px 0;
    height: 60px;
}

.aventure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.objets {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    align-items: center;
}

.objets img {
    border-radius: 5vh;
    cursor: pointer;
    margin: 5px;
    padding: 10px;
}

.plateau {
    position: fixed;
    left: 0;
}

h2 {
    color: #2a6b8b;
}

p {
    color: #2a6b8b;
    font-size: larger;
    text-align: center;
}

button {
    background-color: #2a6b8b;
    color: #f9e50c;
    padding: 10px;
    border-radius: 5px;
}

button:hover {
    font-size: larger;
}

a {
    color: #2a6b8b;
}

a:hover {
    font-size: larger;
}

form {
    text-align: center;
}

form legend {
    color: #2a6b8b;
    font-size: larger;
    text-align: center;
}

input[type=submit] {
    background-color: #2a6b8b;
    color: #f9e50c;
    padding: 10px;
    border-radius: 5px;
}

input[type=submit]:hover {
    font-size: larger;
}