body {
    margin: 0;
}

.content {
    padding: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1b3c4b;
    position: fixed;
    top: 0;
    width: 100%;
}

.menu ul li {
    display: inline;
    float: left;
}

.active {
    background-color: #5b7f48; 
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #5b7f48;
}